*.war
*.zip
.*/extended_runnable_file.html
.*/fioriHtmlRunner.html
.*/mock_preview_sapui5.html
.idea/
/.user.project.json
/.project
/.settings/
/webapp/visual_ext_index.html
changes_preview.js
dist/
documentation/
extended_runnable_file.html
fioriHtmlRunner.html
log/
mock_preview_sapui5.html
node/
node_modules/
resources/
sap-ui-cachebuster-info.json
target/
test/resources/
UIAdaptation_index.html
visual_ext_index.html
test-resources/
/yarn.lock
yarn-error.log
UI5Schemas/
.ui5/
package-lock.json
npm-debug.log

/.che/project.json